/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}

/*-------------------------CSS------------------------------*/


body {
	background: #78F7FF;
	font-family: sans-serif;
	width: 1600px;
	max-height: 1200px;
	font-family: 'Poppins', sans-serif;
}

.container {
	background-color: #fff;
	display: flex;
	flex-flow: row nowrap;
	overflow: hidden;
	border-radius: 30px;
	margin: 100px 80px;
	width: 1440px;
	height: 1000px;
}

.column{
	display: flex;
	flex-flow: column nowrap;
	width: 740px;
	/*border: 1px solid #000;*/
}

.column_background-color{
	background: linear-gradient(to bottom, rgba(255, 63, 123, 1), rgba(255, 63, 123, 0.65));
	width: 700px;
}

.logo{
	font-family: 'Work Sans', sans-serif;
	font-weight: 600;
	font-size: 40px;
	padding: 60px 0 60px 90px;
	color: #fff;
}

.img{
	width: 623px;
	height: 730px;
	margin: 0 41px 103px 36px;
	/*border: 1px solid #000;*/
}


.header{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	/*border: 1px solid #f5f;*/
	margin: 49px 90px 178px 60px;
}

.menu{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	width: 379px;
	height: 42px;
	font-size: 28px;
	/*border: 1px solid #000;*/
}

.menu__item{
	list-style-type: none;
	padding-right: 54px;
}

.menu__link{
	text-decoration: none;
	color: #3A3A3A;
	font-weight: 300;
}

.menu__link_active{
	font-weight: 500;
}

.header__button{
	font-family: 'Poppins', sans-serif;
	width: 160px;
	height: 70px;
	cursor: pointer;
	border: 1px solid #FF437D;
	border-radius: 20px;
	font-size: 28px;
	font-weight: 500;
	background: transparent;
	color: #E52963;
}

.main{
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-end;
	text-align: end;
	margin: 0 90px 0 45px;
	/*border: 1px solid blue;*/
}

.main__title{
}

.main__title_font{
	font-family: 'Work Sans', sans-serif;
	font-size: 64px;
	font-weight: 700;
	/*border: 1px solid #000;*/
}

.main__subtitle_font{
	font-size: 28px;
	font-weight: 300;
	color: #6B6B6B;
	/*border: 1px solid #000;*/
	margin-top: 22px;
}

.main__button{
	border-radius: 20px;
	cursor: pointer;
	background-color: #FF3F7B;
	width: 280px;
	height: 80px;
	box-shadow: 12px 14px 30px rgba(255, 152, 184, 0.35);
	margin-top: 30px;
}

.main__button_font{
	font-family: 'Poppins', sans-serif;
	font-size: 28px;
	color: #fff;
	font-weight: 600;
}

.footer{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	margin: 128px 90px 50px 400px;
	/*border: 1px solid green;*/
}

.footer__text{
	font-size: 28px;
}

.footer__link{
	text-decoration: none;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	color: #6B6B6B;
	font-size: 28px;
	font-weight: 300;
	/*border: 1px solid red;*/
}

.footer__img{
	width: 10.5px;
	height: 21px;
	margin-left: 20px;
}